html {
  width: 100%;
  height: auto;

  body {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    margin: 0;
    font-family: "open sans", helvetica, Sans-Serif;
    color: #333;

    .navigation {
      width: 100%;
      height: auto;
      background-color: red;
    }
  }
}
